node_modules/
config/keys-dev.js
Chapter 3/TerraformVSCode/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/windows_amd64/terraform-provider-azurerm_v2.92.0_x5.exe
Chapter 4/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/windows_amd64/terraform-provider-azurerm_v2.92.0_x5.exe
Chapter 5/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/windows_amd64/terraform-provider-azurerm_v2.92.0_x5.exe
Chapter 6/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/windows_amd64/terraform-provider-azurerm_v2.92.0_x5.exe
Chapter 6/Blobstorage/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/windows_amd64/terraform-provider-azurerm_v2.92.0_x5.exe
Chapter 7/dev/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/windows_amd64/terraform-provider-azurerm_v2.92.0_x5.exe
Chapter 7/prod/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/windows_amd64/terraform-provider-azurerm_v2.92.0_x5.exe
Chapter 7/test/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/windows_amd64/terraform-provider-azurerm_v2.92.0_x5.exe
